body {
    background: #000;
}
/* .izle {
    border:1px solid red;
}*/
.hareket {
    color: #CCC;
    font-family: Monaco, monospace;
    font-size: 24px;
    width: 100%;
    text-align: left;
    text-align: center;
    margin-top: 5%;
}
span {
    animation: 1.5s infinite normal imlec;
}
::-moz-selection {
    background: #7021d2;
    color: #EBEBFF;
}
::selection {
    background: #7021d2;
    color: #EBEBFF;
}
@keyframes glitch {
    0% {
        opacity: 0;
        left: 0;
   }
    40%, 80% {
        opacity: 1;
        left: -2px;
   }
}
@keyframes imlec {
    0% {
        opacity: 0;
        left: 0;
   }
    40% {
        opacity: 0;
        left: -2px;
   }
    80% {
        opacity: 1;
        left: -2px;
   }
}
.bilmm {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logo {
    height: 150px;
    width: 225px;
    margin-bottom: 25px;
}
.logo-choose {
    height: 250px;
    width: 250px;
}
.link {
    text-decoration: none;
    color: #EBEBFF;
}
.link:hover {
    color: rgb(126, 126, 126)
}
@media only screen and (max-device-width:480px) {
    .bilmm {
        margin-top: 15%;
    }
    .logo-choose {
        height: 400px;
        width: 400px;
        margin-bottom: 20%;
    }
   }