* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #CCC;
    color: #000;
}
.logo {
    height: 300px;
    width: 300px;
}
.top {
    display: flex;
    justify-content: center;
}
.text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}
.text > h1 {
    margin-bottom: 30px;
}
.text > p {
    font-size: 1.4em;
}
.button {
    display: flex;
    justify-content: center;
}
.cta {
    font-size: 3em;
    background-color: #000;
    color: #EBEBFF;
    height: 100px;
    width: 500px;
    border-radius: 100px;
    margin-bottom: 50px;
}
@media only screen and (max-device-width:480px) {
    .cta {
        height: 60px;
        width: 207px;
        font-size: 1.5em;
        border-radius: 56px;
        border: 2px solid white;
    }
   }
